﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @Styles.Render("~/Menu/css")
   @RenderSection("style", false)
</head>
<body>
    <div class="main-top">
        <div class="Menutop">
            <ul>
                <li class="list active">
                    <ion-icon size="large"></ion-icon>
                    <a href='@Url.Action("Login", "User")'>
                        <span class="icon"><i class="fa-solid fa-house"></i></span>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li class="list">
                    <a href='@Url.Action("Home", "User")'>
                        <span class="icon"><i class="fa-solid fa-address-card"></i></span>
                        <span class="text">About</span>
                    </a>
                </li>
                <li class="list">
                    <a href='@Url.Action("Home", "User")'>
                        <span class="icon"><i class="fa-brands fa-angellist"></i></span>
                        <span class="text">Contact</span>
                    </a>

                </li>
                <li class="list">
                    <a href='@Url.Action("Login", "User")'>
                        <span class="icon"><i class="fa-solid fa-arrow-right-to-bracket"></i></span>
                        <span class="text">Login</span>
                    </a>

                </li>
                <li class="list">
                    <a href='@Url.Action("Register", "User")'>
                        <span class="icon"><i class="fa-solid fa-registered"></i></span>
                        <span class="text">Register</span>
                    </a>

                </li>
                <div class="indicator"></div>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

    </div>
    <footer id="more-button">
        <div class="than">
            <div class="more">
                <span>
                    More
                </span>
            </div>
        </div>

        <h2 data-text="GangPlank">GangPlank</h2>

    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>

        const list = document.querySelectorAll(".list");
        function activeLink() {
            list.forEach((item) => item.classList.remove("active"));
            this.classList.add("active");
        }
        list.forEach((item) => item.addEventListener("mouseover", activeLink));
        window.addEventListener('DOMContentLoaded', (event) => {
            var handlers = [
                // on first click:
                function () {
                    $("#more-button").css("top", "60%")

                },
                // on second click:
                function () {
                    $("#more-button").css("top", "100%")

                }
                // ...as many more as you want here
            ];

            var counter = 0;
            $(".than").mouseover(function () {
                // call the appropriate function preserving this and any arguments
                handlers[counter++].apply(this);
                // "wrap around" when all handlers have been called
                counter %= handlers.length;


            });
        });
    </script>
</body>
</html>
