﻿body {

}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&family=Roboto+Mono:wght@700&display=swap');
.shoping-cart{sear
   width:100%;
}
.body-content{
    display:flex;
    flex-direction:column;
}
.carts {
    --spacing: 30px;
    --columns: 4;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
}
.cart-item {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 10px 10px 5px rgb(35, 42, 44);
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    margin-top: var(--spacing);
    transition: ease all 0.25s;
    border:1px solid black;
    cursor:pointer;
}
    .cart-item:hover {
        border: 2px solid #16BFFD;
    }
.cart-content{
    height:380px;
    display:flex;
    flex-direction:column;
}
.cart-image img{
    width: 100%;
    object-fit:cover;
    height: 200px;
}
.cart-bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.cart-name {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 800;
    margin: 24px 0;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.add-cart{
    margin:auto;
    margin-bottom:20px;
display:flex;
width:200px;
height:40px;
line-height:40px;
font-size:15px;
font-weight:800;
justify-content:space-between;
}
    .add-cart button {
        background: #38ef7d;
        width:100px;
        transition:all 0.5s;
        border-radius:10px;
        border:none;
    }
        .add-cart button:hover {
            background: #11998e;
        }
.search-input{
height:115px;
width:280px;
position:relative;
margin:0 auto;
}
    .search-input input {
        width: 400px;
        outline: none;
        border: none;
        background: #bdc3c7;
        padding: 10px;
        border-bottom: 2px solid black;
        transition: all 0.5s;
    }
        .search-input input:focus {
            border-bottom: 2px solid #005AA7;
            background: #FFFFFF;
        }
.select-category {
    position: relative;
}
.sugest {
    position: absolute;
    border-bottom: 1px solid black;
    background: #eef2f3;
    text-align: center;
}
.sugest-item{
    height:30px;
    line-height:30px;
    width:280px;
    cursor:pointer;
    font-weight:800;
}
    .sugest-item:hover {
        background: #8e9eab;
    }
    .sugest-item i {
        float: left;
        line-height: 30px;
    }
.category{
    font-size:24px;
    font-weight:800;
    transition:all 0.25s;
    cursor:pointer;
}
.category:hover {
    color: #6dd5ed;
}
.cart-menu {
    position: fixed;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 100%;
    transition: all 0.25s;
    left: 95%;
    cursor:pointer;
}
    .cart-menu:hover {
        color: #6dd5ed;
        border: 1px solid #6dd5ed;
    }
.category-sugest{
    display:none;
}
.modal-body table th {
    text-align: center;
    width: 400px;
}
.modal-body table{
    text-align:center;
}
tr{
    border-bottom:1px solid black;
}
.modal-body table img{
    object-fit:cover;
    width:100px;
    height:100px;
}
.total-price{
    display:flex;
    justify-content:space-between;
}
.total-price span{
    font-size:27px;
    font-weight:800;
    padding:50px;
}
.tr td i{
    cursor:pointer;
}
.tr td i:hover{
    color:red;
}