﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.blue {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    ;
}
.black a{
    color:black;
}
.navbar-header img{
    width:200px;
    height:100px;
}
.list-menu{
   flex:1;
}
.list-menu ul {
    display: flex;
    float:right;
}
.list-menu ul li{
    line-height:100px;
    font-size:25px;
    list-style:none;
    margin-left:25px;
}
    .list-menu ul li a{
        color:black;
  text-decoration:none;
    }
        .list-menu ul li a:hover{
            color:wheat;
        }
        .container {
            display: flex;
        }
.margin-top {
     background:none;
     height:110px;
   
 }