﻿@model Authencation_Demo.Models.User
@section style{
    @Styles.Render("~/Login/css")
}
@{
    ViewBag.Title = "Login";
}


<div class="container">
    <div class="main">
        <div class="Title">
            <span>Login</span>
        </div>
        @using (@Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "myForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName)
                <div class="input">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PasswordHash)
                <div class="input">
                    @Html.EditorFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })
                </div>
            </div>
            <input class="submit" value="Login" type="submit" />
        }


    </div>
</div>

