﻿body {
}
.container{

}
.main {
    background: white;
    box-shadow: black 0px 17px 90px 0px;
    margin: 10px auto;
    width: 400px;
    padding:50px;
text-align:center;
border-radius:40px;
}
.Title{
    margin-bottom:30px;
    font-size:24px;
    font-weight:800;    
    text-transform:uppercase;
    color:black;
}
/* box-shadow: black 0px 7px 290px 0px;*/
.myForm {
    margin: 0 auto;
    text-align: center;
}
.form-group{
    color:black;
    position:relative;
}
    .form-group label{
        position:absolute;
        left:12%;
        top:-50%;
        opacity:0.5;
        text-transform:lowercase;
    }
.input input{
    padding:10px;
    width:230px;
    border:none;
    border-bottom:1px solid black;

}

.input{
   margin:50px 0px;
}
.submit{
    padding:10px;
    width:120px;
    border-radius:40px;
    cursor:pointer;
    border:none;
    transition:0.5s;
}
.submit:hover{
    background:#6a5af9;
    color:white;
}