﻿@model AssigmentWAD.Models.ShoppingCart
                 
<table>
    <tr>
        <th>Thumbnail</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Unit Price</th>
        <th></th>
    </tr>
    @foreach (var item in Model.OrderDetails)
    {
<tr class="tr">
    <td><img src="@Html.DisplayFor(modeItem => item.product.thumbnail)" /></td>
    <td>@Html.DisplayFor(modelItem => item.product.Name)</td>
    <td>
        <i onclick="reduced(@Html.DisplayFor(modelItem => item.product.ID))" class="fa fa-angle-left"></i>
        <span>
            @Html.DisplayFor(modelItem => item.quantity)
        </span>

        <i onclick="plus(@Html.DisplayFor(modelItem => item.product.ID))" class="fa fa-angle-right"></i>

    </td>
    
    <td>@Html.DisplayFor(modelItem => item.product.Price)$</td>
    <td>@Html.DisplayFor(modelItem => item.unitPrice)$</td>
  
    <td><i onclick="DeleteCart(@Html.DisplayFor(modeItem => item.product.ID))" class="fa fa-x"></i></td>
</tr>
    }


    </table>
    <div class="total-price">
        <span>Total:</span>
        <span>@Html.DisplayFor(m => Model.order.total)$</span>
    </div>
