﻿@model IEnumerable<AssigmentWAD.Models.Product>

@section style{
    @Styles.Render("~/home/css")
}
@section scripts{
    <script>
        var __RequestVerificationToken = $("input[name=__RequestVerificationToken]").val();
        function plus(id)
            {
            $.ajax({
                type: "POST",
                url: '/Home/Plus',
                data: {
                    id: id,
                    __RequestVerificationToken: __RequestVerificationToken,
                },
                success: function (result) {
                    $(".modal-body").html(result);
                },
                error: function (result) {
                    alert("lỗi rồi thầy ơi :(( Thầy châm trước em nhé");
                }
            });
        }
        function reduced(id)
            {
            $.ajax({
                type: "POST",
                url: '/Home/Reduced',
                data: {
                    id: id,
                    __RequestVerificationToken: __RequestVerificationToken,
                },
                success: function (result) {
                    $(".modal-body").html(result);
                },
                error: function (result) {
                    alert("lỗi rồi thầy ơi :(( Thầy châm trước em nhé");
                }
            });
            }
        $(document).click(function () {
            $("#search-key").hide("slow");
        });
        var counter = 0;
        $(".category").click(function (e) {
            handlers[counter++].apply();
            // "wrap around" when all handlers have been called
            counter %= handlers.length;
        });
        var handlers = [
            // on first click:
            function () {
                $(".category-sugest").show("slow");

            },
            // on second click:
            function () {
                $(".category-sugest").hide("slow");

            }
            // ...as many more as you want here
        ];

        $("input[name=key]").keyup(function (e) {
            var key = $("input[name=key]").val();
           
            $.ajax({
                type: "POST",
                url: '/Home/search',
                data: {
                    key: key,
                    __RequestVerificationToken: __RequestVerificationToken,
                },
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result.responseText);
                },
                error: function (result) {
                    $("#search-key").show("slow");
                    $("#search-key").html(result.responseText)
                }
            });
        });
        function selecCategory(id) {
            $.ajax({
                type: "POST",
                url: '/Home/searchCategory',
                data: {
                    category_id: id,
                    __RequestVerificationToken: __RequestVerificationToken,
                },
                success: function (result) {
                    $(".carts").html(result);
                },
                error: function (result) {
                    alert("lỗi rồi thầy ơi :(( Thầy châm trước em nhé");
                }
            });
        }
        function AddToCart(id) {
            $.ajax({
                type: "POST",
                url: '/Home/AddCart',
                data: {
                    id: id,
                    __RequestVerificationToken: __RequestVerificationToken,
                },
                success: function (result) {
                    $(".modal-body").html(result);
                },
                error: function (result) {
                    alert("lỗi rồi thầy ơi :(( Thầy châm trước em nhé");
                }
            });
        }
        function DeleteCart(id) {
            $(this).parent().remove();
            $.ajax({
                type: "POST",
                url: '/Home/DeleteCart',
                data: {
                    id: id,
                    __RequestVerificationToken: __RequestVerificationToken,
                },
                success: function (result) {
                    $(".modal-body").html(result);
                },
                error: function (result) {
                    alert("lỗi rồi thầy ơi :(( Thầy châm trước em nhé");
                }
            });
        }
        $("#buy").click(function () {
            $.ajax({
                type: "Get",
                url: '/Home/GetOrder',
                success: function (result) {
                    alert("Order Successful!");
                },
                error: function (result) {
                    alert("lỗi rồi thầy ơi :(( Thầy châm trước em nhé");
                }
            });
        });
    </script>
}
<div class="cart-menu" data-toggle="modal" data-target="#exampleModal">
    <i class="fa fa-cart-shopping"></i>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Shopping Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
           
                 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="buy" class="btn btn-primary">Buy</button>
            </div>
        </div>
    </div>
</div>
<!--End Mptal-->
<div class="search-input">
    @Html.AntiForgeryToken()
    <input type="text" name="key" autocomplete="off" placeholder="Search here ..." />
    <div class="sugest" id="search-key">

    </div>
</div>
<div class="select-category">
    <span class="category">Category <i class="fa fa-angle-down"></i></span>
    <div class="sugest category-sugest">
        @foreach (var item in Model)
        {
            <div class="sugest-item" onclick="selecCategory(@Html.DisplayFor(modelItem => item.category.ID))">
                <span>@Html.DisplayFor(modelItem => item.category.CategoryName)</span>
            </div>
        }
        <div class="sugest-item" onclick="selecCategory()">
            <span>All</span>
        </div>
    </div>
</div>
<div class="shoping-cart">
    <div class="carts">

        @foreach (var item in Model)
        {
            <div class="cart-item">
                <div class="cart-content">
                    <div class="cart-image">
                        <img src=" @Html.DisplayFor(modelItem => item.thumbnail)" />
                    </div>
                    <div class="cart-bottom">
                        <div class="cart-name">
                            <span>@Html.DisplayFor(modelItem => item.Name)</span>
                        </div>
                        <div class="add-cart">
                            <span>$@Html.DisplayFor(modelItem => item.Price)</span>
                            <button onclick="AddToCart(@Html.DisplayFor(modelItem => item.ID))">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
