﻿@model IEnumerable<AssigmentWAD.Models.Product>
@foreach (var item in Model)
{
    <div class="cart-item"> 
        <div class="cart-content">
            <div class="cart-image">
                <img src=" @Html.DisplayFor(modelItem => item.thumbnail)" />
            </div>
            <div class="cart-bottom">
                <div class="cart-name">
                    <span>@Html.DisplayFor(modelItem => item.Name)</span>
                </div>
                <div class="add-cart">
                    <span>$@Html.DisplayFor(modelItem => item.Price)</span>
                    <button>Add</button>
                </div>
            </div>
        </div>
    </div>
}