﻿@model IEnumerable<AssigmentWAD.Models.Product>
@foreach (var item in Model)
{
<a href="@Html.DisplayFor(modelItem => item.ID)">
    <div class="sugest-item">
        <i class="fa fa-magnifying-glass"></i>
        <span>@Html.DisplayFor(modelItem => item.Name)</span>
    </div>
</a>

    }


