﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppin",sans-serif;

}

:root {
    --clr: #222327;
    --menu: #ffffff;
   
}

body {
    background: var(--clr);
    color: white;

}

.main-top {
    display: flex;
    justify-content: center;
    background: var(--clr);
    min-height: 100px;
}

.Menutop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 400px;
    background: var(--menu);
    border-radius: 0px 0px 40px 40px;
}

    .Menutop ul {
        display: flex;
        position: relative;
        width: 300px;
    }

        .Menutop ul li {
            list-style: none;
            width: 80px;
            height: 80px;
            z-index: 1;
        }

            .Menutop ul li a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                font-weight: 500;
                text-align: center;
            }

                .Menutop ul li a .icon {
                    display: block;
                    position: relative;
                    line-height: 75px;
                    font-size: 1.5em;
                    text-align: center;
                    transition: 0.5s;
                    color: var(--clr);
                }

            .Menutop ul li.active a .icon {
                transform: translateY(40px);
            }

            .Menutop ul li a .text {
                position: absolute;
                color: var(--clr);
                font-weight: 400;
                font-size: 0.75em;
                letter-spacing: 0.05em;
                transition: 0.5s;
                opacity: 0;
            }

            .Menutop ul li.active a .text {
                transform: translateY(-5px);
                opacity: 1;
            }

.indicator {
    position: absolute;
    width: 60px;
    height: 60px;
    background: white;
    top: 60%;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

    .indicator:before {
        content: '';
        position: absolute;
        height: 20px;
        left: -22px;
        top: 3%;
        width: 22px;
        height: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0px 10px 0 0 var(--clr);
    }

    .indicator:after {
        content: '';
        position: absolute;
        height: 20px;
        right: -22px;
        top: 3%;
        width: 22px;
        height: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 0px 10px 0 0 var(--clr);
    }

.Menutop ul li:nth-child(1).active ~ .indicator {
    left:0;
}

.Menutop ul li:nth-child(2).active ~ .indicator {
    left: 60px
}

.Menutop ul li:nth-child(3).active ~ .indicator {
    left: 120px;
}

.Menutop ul li:nth-child(4).active ~ .indicator {
    left: 180px;
}

.Menutop ul li:nth-child(5).active ~ .indicator {
    left: 240px;
}

footer {
    background: white;
    height: 300px;
    width: 100%;
    top: 100%;
    display:flex;
    justify-content:center;
    position: fixed;
    transition: 0.5s;
}
.more {
    background: var(--menu);
    border: 1px solid rgb(100, 149, 237);
    height: 60px;
    width: 300px;
    border-radius: 40px 40px 0 0;
    color: black;
    line-height: 60px;
    margin: 0px auto;
    font-size: 24px;
}

.body-content{


}
.than {
    height: 50px;
    position: absolute;
    text-align: center;
    top: -20%;
    width:100%;
    margin: 0px auto;
}
footer h2{
    position:relative;
    margin:auto 0;
    color:white;
    font-size:12vw;
    -webkit-text-stroke:0.3vw black;
    text-transform:uppercase;
}
    footer h2:before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        color: black;
        -webkit-text-stroke: 0vw black;
        border-right:2px solid black;
        overflow:hidden;
        animation: animate 6s linear infinite;
    }
@keyframes animate
{
    0%{
        width:0;
    }
    100% {
        width: 100%;
    }
}